{% extends 'base.html' %}

{% block content %}
<div class="card p-6 shadow-lg rounded-xl">
  <h2 class="font-semibold text-2xl text-white mb-4">Light Rules</h2>

  {% if message %}
    <div class="bg-red-500 text-white p-4 rounded-md mb-4">
      {{ message }}
    </div>
  {% endif %}

  {% if user_role == 'guest' %}
    <div class="bg-gray-700 text-white p-4 rounded-md mb-4">
      <p class="text-center">You do not have permission to view or modify the data. <a href="{{ url_for('login') }}" class="text-blue-400 hover:text-blue-600">Click here to login</a></p>
    </div>
  {% else %}
    <form method="POST">
      <!-- Tabel untuk Light Rules -->
      <table class="min-w-full mt-4 table-auto">
        <thead>
          <tr class="text-white bg-gray-900">
            <th class="py-2 px-4 border-b">ID</th>
            <th class="py-2 px-4 border-b">Status</th>
            <th class="py-2 px-4 border-b">Time</th>
            <th class="py-2 px-4 border-b">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-100">
          {% for rule in light_rules %}
            <tr class="bg-gray-100 dark:bg-gray-700 hover:bg-gray-900 text-center">
              <td class="py-2 px-4 border-b">{{ loop.index }}</td>
              <td class="py-2 px-4 border-b">{{ rule.status | capitalize }}</td>
              <td class="py-2 px-4 border-b">{{ rule.time }}</td>
              <td class="py-2 px-4 border-b">
                {% if user_role == 'admin' %}
                  <!-- Update button untuk memperbarui waktu -->
                  <a href="{{ url_for('update_light_time', status=rule.status) }}" class="text-blue-400 hover:text-blue-600">Update</a>
                {% elif user_role == 'user' %}
                  <span class="text-gray-500">No actions available</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% endif %}
</div>
{% endblock %}
